<div class="login-container">
    <div class="image-section">
        <img src="../../../../assets/future-human.png" alt="AI Human Builder">
    </div>

    <div class="form-section">
        <div class="form-wrapper">
            <h2 class="login-title">Login to your Account</h2>

            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email" [disabled]="loading">
                    <small class="text-danger" *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                        Please enter a valid email
                    </small>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Your Password" [disabled]="loading">
                    <small class="text-danger" *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                        Password is required
                    </small>
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || loading">
                        <span *ngIf="!loading">Login</span>
                        <span *ngIf="loading">
                            <div class="spinner"></div> Loading...
                        </span>
                    </button>
                </div>

                <div class="text-danger" style="margin: 13px;" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </form>

            <div class="separator">
                <span>OR</span>
            </div>
            <div class="register-link">
                <span>Don't have an account? <a routerLink="/register">Register now!</a></span>
            </div>
        </div>
    </div>
</div>
